* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

#root {
  width: 75vw;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  border: solid 1px black;
  min-height: 202px;
}

.image {
  position: relative;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.handler {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 0;
  bottom: 0;
  background: #fbd052;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  cursor: pointer;
}

.add-button {
  width: 100%;
  background: lightgrey;
  margin-top: 1rem;
}

.remove-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.put-back-button {
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.justify-button {
  background: grey;
  margin-top: 2rem;
  width: 30%;
}

.justify-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.removed-block {
  margin-top: 4rem;
}

.removed {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
}
